
.btn {
  width: 100%;
  padding: var(--spacing-10);
  border: none;
  border-radius: 8px;
  background: #6B33D9;
  font-size: var(--text-20);
  color: var(--white);
  font-weight: bold;
  font-family: roboto;
  transition: all .3s;
}

.btn:hover {
  background: #490DA9;
}
.btn:disabled {
  cursor: not-allowed;
}