
.container {
  width: 100%;
  position: relative;
}


.input {
  width: 100%;
  border: 1px solid var(--gray-500);
  padding: var(--spacing-10);
  border-radius: 8px;
  background: none;
  color: var(--black);
  outline: none;
}

.input:hover,
.input:focus {
  border-color: #854BE0;
}

.input:focus + label,
.input:not(:placeholder-shown):not(:focus) + label {
  transform: translateY(-16px) translateX(10px);
  background: #854BE0;
  font-size: var(--text-12);
  color: var(--white);
  padding: 0 6px;
}

.input::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: var(--text-16);
  border-radius: 2px;
  font-family: roboto;
  transition: all .3s;
}

.error {
  display: block;
  font-size: var(--text-14);
  padding-top: var(--spacing-05);
  color: #E04B4B;
  font-weight: 700; 
}