


.container {
  width: 100%;
  position: relative;
}

.container input:valid ~ label,
.container input:focus ~ label {
  transform: translateY(-16px) translateX(10px);
  background: var(--blue-200);
  font-size: var(--text-12);
  color: var(--white);
  padding: 0 6px;
}


.input {
  width: 100%;
  border: 1px solid var(--gray-500);
  padding: var(--spacing-10);
  border-radius: 8px;
  background: none;
  color: var(--black);
  outline: none;
}

.input:valid,
.input:focus {
  border-color: var(--blue-200);
}

.label {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: var(--text-16);
  border-radius: 2px;
  font-family: roboto;
  transition: all .3s;
}